body{
    margin: 0;
    padding: 0;
    background: url(pic2.jpg);
    background-size: cover;
    font-family: sans-serif;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 300px;
    border-radius: 25px;
    background: rgba(0, 0, 0, 0.9);
    color: white;
}
.container h1{
    text-align: center;
    padding: 0 0 20px 0;
}
.container h2 {
    text-align: center;
    padding: 0 40px;
}
.button1{
    margin-top: 30px;
    margin-left: 150px;
    float: left;
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background:  rgb(0, 174, 180);
    border: 1px solid rgb(0, 174, 180);
    outline: none;
    cursor: pointer;
    border-radius: 20px;
}
.button2{
    margin-top: 30px;
    margin-right: 150px;
    float: right;
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background:  rgb(0, 174, 180);
    border: 1px solid rgb(0, 174, 180);
    outline: none;
    cursor: pointer;
    border-radius: 20px;
}